{% extends 'main/base.html' %}

{% block content %}
<div class="row m-5">
    <div class="col col-xs-12 col-sm-2">
        <ul>
            {% for collection in allCollections %}
                <li class="my-2">
                    <a href="../{{ collection.id }}">{{ collection.collectionName }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col col-x-12 col-sm-10">
        {% for product in productInfo %}
            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4" style="display: inline-block;">
                <div class="card">
                    <a href="/products/{{ product.0 }}">
                        <div class="card-body">
                            <img src= '/{{ product.3 }} ' alt="Image" height="200" width="200">
                            <p>{{ product.1 }}</p>
                            <p>{{ product.2 }}</p>
                            <!-- /Users/justin/Desktop/HaitiCoffeeSS/haiticoffee/static/staticfiles/img/haiti_home.jpg -->
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}