{% extends 'main/base.html' %}

{% block content %}
<!-- Header -->
<header>
    <div class="container">
        <div>
            <h1 style="color:black;">Welcome to Haiti Coffee Co.</h1>
            <br/>
            <p style="color:black;">Haiti’s Caribbean climate, the growing region’s mountain elevation, and the shade 
                provided by the indigenous trees all provide the perfect growing environment for this precious bean. 
                This naturally forest grown shade coffee is handpicked in Haiti and brought to you creating incomes and 
                jobs for many Haitian men and women.</p>

            <br/> 

            <p style="color:black;">From the tropical mountains of Haiti, 
                comes a coffee bean that produces a rich, aromatic, and sensational coffee drinking experience reminiscent of 
                Jamaican Mountain Blue, at a fraction of the cost.</p>

            <br/>

            <p style="color:black;">In the 1700’s Haiti was a valuable agricultural exporter on the international market producing 50% of the world’s coffee. Later Haiti became well known for its Haitian Blue coffee. It’s time to revitalize access to these tropical treats and collaboratively help Haitians help themselves in a sustainable fashion.
            </p>

            <br/>
            <p style="color:black;">Haiti Coffee is working collaboratively with many organizations to rebuild the Haitian coffee industry and to help redevelop Haiti's agricultural heritage to its former glory.</p>

            <p style="color:black;">Coffee creates many types of reliable jobs for women and men throughout Haiti. Every bean sold builds the momentum of change and adds value to the trees and forests instead of cutting them for charcoal production in order to survive. We are working to bring beyond fair trade and direct trade practices into mainstream use, putting the power of coffee back into the hands of the farmers. Through multiple venues we are bringing modern techniques to every interested farmer, reuniting the industry to combat CBB and helping farmers diversify to stabilize incomes and improve crop management. And it doesn't stop there.</p>
        </div>
    </div>
</header>
{% endblock %}