{% extends 'main/base.html' %}

{% block content %}

<!-- Header -->
<header>
    <div class="container">
        <h1 style="color:black;">Our coffee is currently available at these WeWork locations.</h1>
        <div>

                <h4 style="color:black;">500 Yale Ave N, Seattle, WA 98109</h4>
                <h4 style="color:black;">1601 5th Ave, Seattle, WA 98101</h4>   
                <h4 style="color:black;">1099 Stewart St, Seattle, WA 98101</h4>
                <h4 style="color:black;">1411 4th Ave, Seattle, WA 98101</h4>
                <h4 style="color:black;">1600 7th Ave, Seattle, WA 98101</h4>
                <h4 style="color:black;">107 Spring St, Seattle, WA 98104</h4>     
        </div>

        <h1>Email Us</h1>
        <a style="color:black;" href = "/email">Click to Email Us</a>
    </div>
</header>
{% endblock %}